#### HDMI Core constraints
# Overwrite existing VCCAUX setting for TMDS interfaces

#CONFIG VCCAUX = 3.300v;
CONFIG VCCAUX=3.3;

#
# pin constraints
#
NET DIP_Switches_8Bits_TRI_I[0] LOC = "A10"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[1] LOC = "D14"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[2] LOC = "C14"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[3] LOC = "P15"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[4] LOC = "P12"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[5] LOC = "R5"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[6] LOC = "T5"  |  IOSTANDARD = "LVCMOS33";
NET DIP_Switches_8Bits_TRI_I[7] LOC = "E4"  |  IOSTANDARD = "LVCMOS18";
NET Digilent_AC97_Cntlr_BITCLK_pin LOC = "L13"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_AC97_Cntlr_RESET_N_pin LOC = "T17"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_AC97_Cntlr_SDATA_IN_pin LOC = "T18"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_AC97_Cntlr_SDATA_OUT_pin LOC = "N16"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_AC97_Cntlr_SYNC_pin LOC = "U17"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[0] LOC = "A2"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[1] LOC = "D6"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[2] LOC = "C6"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[3] LOC = "B3"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[4] LOC = "A3"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[5] LOC = "B4"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[6] LOC = "A4"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_DB_pin[7] LOC = "C5"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_EPPRST_pin LOC = "A5"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_FIFOADR_pin[0] LOC = "A14"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_FIFOADR_pin[1] LOC = "B14"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_FLAGA_pin LOC = "B9"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_FLAGB_pin LOC = "A9"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_FLAGC_pin LOC = "C15"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_IFCLK_pin LOC = "C10"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_PKTEND_pin LOC = "C4"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_SLOE_pin LOC = "A15"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_SLRD_pin LOC = "F13"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_SLWR_pin LOC = "E13"  |  IOSTANDARD = "LVCMOS33";
NET Digilent_Usb_Epp_STMEN_pin LOC = "B2"  |  IOSTANDARD = "LVCMOS33";
NET GCLK LOC = "L15"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[0] LOC = "U18"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[1] LOC = "M14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[2] LOC = "N14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[3] LOC = "L14"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[4] LOC = "M13"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[5] LOC = "D4"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[6] LOC = "P16"  |  IOSTANDARD = "LVCMOS33";
NET LEDs_8Bits_TRI_O[7] LOC = "N12"  |  IOSTANDARD = "LVCMOS33";
NET Push_Buttons_5Bits_TRI_I[0] LOC = "N4"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[1] LOC = "P4"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[2] LOC = "P3"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[3] LOC = "F6"  |  IOSTANDARD = "LVCMOS18";
NET Push_Buttons_5Bits_TRI_I[4] LOC = "F5"  |  IOSTANDARD = "LVCMOS18";
NET QSPI_FLASH_IO0 LOC = "T13"  |  IOSTANDARD = "LVCMOS33";
NET QSPI_FLASH_IO1 LOC = "R13"  |  IOSTANDARD = "LVCMOS33";
NET QSPI_FLASH_SCLK LOC = "R15"  |  IOSTANDARD = "LVCMOS33";
NET QSPI_FLASH_SS LOC = "V3"  |  IOSTANDARD = "LVCMOS33";
NET RESET LOC = "T15"  |  IOSTANDARD = "LVCMOS33"  |  TIG;
NET RS232_Uart_1_sin LOC = "A16"  |  IOSTANDARD = "LVCMOS33";
NET RS232_Uart_1_sout LOC = "B16"  |  IOSTANDARD = "LVCMOS33";
NET rzq IOSTANDARD = "LVCMOS18_JEDEC";
NET zio IOSTANDARD = "LVCMOS18_JEDEC";
#
# additional constraints
#

NET "GCLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

############################################################

NET "*TMDS_TX_0_N*"    LOC = "C8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_0_P*"    LOC = "D8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_1_N*"    LOC = "A7"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_1_P*"    LOC = "C7"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_2_N*"    LOC = "A8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_2_P*"    LOC = "B8"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_CLK_N*"  LOC = "A6"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_TX_CLK_P*"  LOC = "B6"  | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_0_N*"    LOC = "K18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_0_P*"    LOC = "K17" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_1_N*"    LOC = "L18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_1_P*"    LOC = "L17" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_2_N*"    LOC = "J18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_2_P*"    LOC = "J16" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_CLK_N*"  LOC = "H18" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_CLK_P*"  LOC = "H17" | IOSTANDARD = "TMDS_33";
NET "*TMDS_RX_SCL*"    LOC = "M16" | IOSTANDARD = "I2C";
NET "*TMDS_RX_SDA*"    LOC = "M18" | IOSTANDARD = "I2C";

############################################################

NET "*SIG_PLL0?CLKOUT2" TNM_NET = globclk;
NET "*Inst_DynClkGen?PllOut_x1" TNM_NET = hdmipclk;

############################################################
# Timing Constraints                                       #
############################################################

TIMESPEC TS_path1 = FROM globclk TO hdmipclk 14 ns;
TIMESPEC TS_path2 = FROM hdmipclk TO globclk 10 ns;
